.h-1 {
  background-color: rgb(78, 73, 73);
  height: 1000px;
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
  }
}
.myheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 73px;
}
header {
  background-color: rgb(183, 175, 175);
  background-image: url("/IMG/Layer\ 7.png");
}
nav {
  width: 430px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 13px;
}

li a {
  color: rgba(242, 101, 34, 1);
}

.card1 {
  display: block;
  align-items: center;
  padding: 73px;

  .sleek {
    font-size: 45px;
    color: #ffffff;
    box-sizing: border-box;
    width: 203px;
    height: 82px;
    margin-bottom: 35px;
  }
  .lorem1 {
    font-size: 15px;
    color: #ffffff;
    box-sizing: border-box;
    width: 389px;
    height: 39px;
    margin-bottom: 35px;
  }
  .fa-dash {
    margin-right: 69px;
    font-size: 20px;
    background-color: #ffffff;
  }
  .arrow {
    display: block;
    margin-left: 164px;
  }
}

//the end of header, start of middle section

.orangeCard {
  display: flex;
  justify-content: flex-end;
  margin-left: 570px;
  margin-top: -388px;
}
.warrow {
  width: 54px;
  height: 54px;
  margin-right: 10px;
}
.oarrow {
  width: 54px;
  height: 54px;
  margin-right: 70px;
}
.orangeTextBox {
  background-color: #f26522;
  width: 390px;
  height: 777px;
}
.bright {
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 35px;
  padding: 74px 104px 15px 48px;
}
.lorem2 {
  color: #ffffff;
  font-size: 15px;
  padding: 0px 104px 35px 48px;
}

.lorem3 {
  color: #ffffff;
  font-size: 15px;
  padding: 0px 104px 35px 48px;
}

//right box with img and text

.mountWithText {
  height: 777px;
  width: 780;
  position: relative;
}
.mount {
  width: 780px;
  height: 390px;
  background-color: #f26522;
}
.finaly {
  margin-left: 55px;
  font-size: 35px;
  color: #3a4d69;
  box-sizing: content-box;
  margin-top: 65px;
  padding-right: 400px;
}
.lorem4 {
  margin-left: 55px;
  margin-top: 27px;
  font-size: 14px;
  color: #83969f;
  padding-right: 200px;
}
.bird {
  display: inline;
  margin-left: 55px;
  margin-top: 150px;
}
.twitt {
  display: inline;
  font-size: 12px;
  color: #cfcfcf;
}
//End of Second Section
